<header class="post-header">
  <a class="site-title" href="{{ "/" | relative_url }}">{{ "Francisco Carvalho" | escape }}</a>
  <h1 class="post-title" itemprop="name headline">{{ page.title | escape | replace: "​", "<wbr>" }}</h1>
  <div><img id="searchicon" src="/assets/img/search.svg"></div>        
</header>

{% if page.cover_url %}
<div class="post-cover" aria-label="Cover">
  <div class="post-cover-wrapper">
    <img src="{{ page.cover_url }}" alt="" />
  </div>
  <div class="cover-meta">{{ page.cover_meta | markdownify }}</div>
</div>

{% endif %}


<div id="fastSearch">
  <input id="searchInput" tabindex="0">
  <ul id="searchResults">
  </ul>
</div>
<script src="/js/fuse.js"></script>
<script src="/js/fastsearch.js"></script>